<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2{
            color: greenyellow;
        }
    </style>
</head>
<body>
    <div class="flex items-center gap-5">
        <img class="h-20 w-20" src="{% static 'images/drumstick.jpeg'%}" />
        <div>
    <h1>Order has been placed</h1>
    <h2>your order has been delivered in 25 min</h2>
</body>
</html>